.AllIndependent__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
  margin-bottom: 80px;
}
.MainTitle {
  text-align: center;
}
.createEvent {
  background-color: transparent !important;
  color: #fff !important;
  border: 1px solid #fff;
  transition: all 0.4s ease-in-out;
}
.createEvent:hover {
  background-color: var(--independent-color) !important;
  border-color: var(--independent-color) !important;
  transition: all 0.4s ease-in-out;
}
