.cardDisplay:hover {
  background-color: #a6348e;
  color: #fdf8f2;
  transition: all 0.4s ease-in-out;
}
.cardDisplayIndependent:hover {
  background-color: #afd74b;
  color: #fdf8f2;
  transition: all 0.4s ease-in-out;
}
.cardDisplay img {
  width: 394px;
  height: 193px;
}

.react-datepicker__input-container input {
  border: 1px solid #fdf8f2 !important;
  border-radius: 5px !important;
  padding: 5px !important;
}

.filter-datepicker {
  display: inline-block;
  background-color: #292a2a;
  color: #fdf8f2;
  margin-left: 5px !important;
}
