.RegisterLoginForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: clamp(600px, 55vw, 700px);
  margin: 0 auto;
}
.InputWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  align-items: center;
}
