* {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif !important;
}
body {
  min-height: 100vh !important;
  background-color: #292a2a !important;
}
#root {
  /* background-color: #292a2a; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#root > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
:root {
  /* --independent-color: #f76320; */
  --independent-color: #afd74b;
  /* --independent-color: #3030bb; */
}
