.HomePage {
  flex-grow: 1;
  background-color: #000;
  overflow: hidden;
}
.linkContainer {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #fdf8f2;
}
.trendyPack,
.independentPack {
  border-radius: 8px;
  cursor: pointer;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 1rem;
  height: 180px;
  transition: all 0.4s ease-in-out;
  z-index: 30;
}
/* TRENDY */
.trendyPack_link {
  position: relative;
}
.trendyPack:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.4s ease-in-out;
}
.trendyPack:hover .trendyPack_link h2,
.trendyPack:hover .trendyPack_link p {
  color: #afd74b !important;
}
.trendyCurtain {
  position: absolute;
  left: 0;
  background-color: #a7358e;
  opacity: 0.5;
  width: 0vw;
  height: 100%;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}
.trendyCurtain::before {
  content: '-----------------------------------------------------------------';
  position: absolute;
  top: 0%;
  left: -25px;
  font-size: 4rem;
  color: transparent;
  text-decoration-style: wavy;
  text-decoration-color: #afd74b;
  text-decoration-line: underline;
  animation: wavyWave 10s linear infinite;
  rotate: -90deg;
  width: 100vw;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.trendyPack:hover ~ .trendyCurtain::before {
  opacity: 1;
  transition: all 0.3s ease-in-out 0.3s;
}
.trendyPack:hover ~ .trendyCurtain {
  width: 50vw;
  transition: all 0.4s ease-in-out;
}
.trendyPack:hover ~ .independentPack {
  opacity: 0;
}
/* INDEPENDENT */
.independentPack:hover .independentPack_link h2,
.independentPack:hover .independentPack_link p {
  color: #3030bb !important;
}
.independentPack:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.4s ease-in-out;
}
.independentCurtain {
  position: absolute;
  right: 0;
  background-color: #f76522;
  /* opacity: 0.5; */
  width: 0vw;
  height: 100%;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}
.independentCurtain::before {
  content: '-----------------------------------------------------------------';
  position: absolute;
  top: 0%;
  right: 25px;
  font-size: 4rem;
  color: transparent;
  text-decoration-style: wavy;
  text-decoration-color: #3030bb;
  text-decoration-line: underline;
  animation: wavyWave 10s linear infinite;
  rotate: -90deg;
  width: 100vw;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.independentPack:hover ~ .independentCurtain {
  width: 50vw;
  transition: all 0.4s ease-in-out;
}
.independentPack:hover ~ .independentCurtain::before {
  opacity: 1;
  transition: all 0.3s ease-in-out 0.3s;
}
.independentPack:hover ~ .trendyPack {
  opacity: 0;
}
/* CYMATIC */
.cymaticSpin {
  position: absolute;
  margin: 0%;
  animation: spinClockWise 8s linear infinite;
  width: 300px;
  transition: all 0.4s ease-in;
  opacity: 1;
  z-index: 0;
}
.trendyPack:hover ~ .cymaticSpin {
  /* margin-left: -50%;
  margin-top: -23%; */
  transition: all 0.4s ease-in-out;
  margin-right: -50%;
  scale: 1.4;
}
.trendyPack:hover ~ .cymaticSpin5,
.trendyPack:hover ~ .cymaticSpin3 {
  opacity: 0;
}
.independentPack:hover ~ .cymaticSpin {
  transition: all 0.4s ease-in-out;
  margin-left: -50%;
  scale: 1.4;
  z-index: 40;
}
.independentPack:hover ~ .cymaticSpin5,
.independentPack:hover ~ .cymaticSpin1 {
  opacity: 0;
}
@keyframes spinClockWise {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes wavyWave {
  0% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(-100px);
  }
}
